.footer {
  margin-top: 20px;
  padding: 10px 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
  width: 100%;
  box-sizing: border-box;
}
