.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 0, 128, 0.5); /* Fondo morado con opacidad al 50% */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.navbar-logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 30px; /* Espacio antes del logo */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px; /* Espacio entre los enlaces */
  flex-wrap: nowrap; /* Evita que los enlaces se envuelvan en una nueva línea */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Ajuste de tamaño de fuente */
  padding: 5px 10px; /* Espaciado interno para los enlaces */
  transition: color 0.3s ease, transform 0.3s ease;
  margin-right: 30px; 
}

.navbar-links a:hover {
  color: #FFD700;
  transform: scale(1.1);
}
