/* Contenedor principal para aplicar márgenes uniformes */
.container {
  max-width: 1100px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 10px; /* Padding alrededor del contenido */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Estilo principal de la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between; /* Ajuste para distribución uniforme */
  align-items: center;
  background-color: rgba(128, 0, 128, 0.5); /* Fondo morado con opacidad al 50% */
  padding: 10px; /* Reducido el padding para hacer la barra más delgada */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  border-radius: 15px; /* Bordes redondeados */
}

/* Logo de la barra de navegación */
.navbar-logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 20px; /* Espacio antes del logo */
}

/* Estilo de los enlaces de navegación */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px; /* Espacio entre los enlaces */
  flex-wrap: nowrap; /* Evita que los enlaces se envuelvan en una nueva línea */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Ajuste de tamaño de fuente */
  padding: 5px 10px; /* Espaciado interno para los enlaces */
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover {
  color: #5428bb;
  transform: scale(1.1);
}

/* Ajuste del contenido principal para evitar la superposición */
.main-content {
  margin-top: 30px; /* Ajuste según la altura de la barra de navegación */
}

/* Estilo del canvas del juego */
canvas {
  border: 3px solid black;
  background-color: black; /* Fondo del canvas por defecto si no se carga la imagen */
  display: block; /* Asegura que el canvas no tenga espacio extra alrededor */
  margin: 0 auto; /* Centra el canvas horizontalmente */
}

/* Estilo de la sección de información */
.info-section {
  margin: 20px 0;
  color: white; /* Color del texto de la sección de información */
  font-size: 16px;
}

/* Estilo del footer */
footer {
  margin-top: 20px;
  padding: 10px 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para la nueva sección de introducción */
.intro-section {
  background-color: black;
  color: white;
  padding: 80px 20px 20px 20px; /* Aumenta el padding superior para separar del navbar */
  text-align: left; /* Alineación a la izquierda */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que las dos columnas estén espaciadas uniformemente */
}

.profile-picture {
  width: 25%; /* Imagen ocupa 1/4 del contenedor */
  max-width: 200px; /* Ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.intro-text {
  width: 75%; /* El texto ocupa 3/4 del contenedor */
}

.intro-title {
  font-size: 64px; /* Tamaño de fuente aumentado */
  font-weight: bold;
  background: linear-gradient(90deg, #7f00ff, #e100ff); /* Gradiente de color morado a calipso */
  background-clip: text; /* Propiedad estándar para compatibilidad */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: typing 6s steps(22), blink 1s step-end infinite alternate; /* Animación más lenta */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white; /* Efecto de cursor */
  margin-bottom: 10px; /* Ajuste de espacio inferior para separar del subtítulo */
}

.intro-subtitle {
  font-size: 28px; /* Tamaño de fuente aumentado */
  font-weight: bold;
  color: #7f00ff; /* Color morado para el subtítulo */
  opacity: 0; /* Ocultar el subtítulo inicialmente */
  animation: typingSubtitle 6s steps(40) forwards, blinkSubtitle 1s step-end infinite alternate; /* Añadir retraso a la animación */
  animation-delay: 6s; /* Añadir un retraso adicional para la animación */
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0; /* Espaciado más cercano al título */
}

/* Nueva sección de bienvenida */
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que las dos columnas estén espaciadas uniformemente */
  background-color: black;
  color: white;
  padding: 40px 20px; /* Padding alrededor de la sección */
  text-align: left;
}

.welcome-text {
  width: 75%; /* El texto ocupa 3/4 del contenedor */
  opacity: 0; /* Ocultar el contenedor inicialmente */
  animation: fadeIn 0.1s forwards 12s, typingWelcome 12s steps(40) forwards; /* Animación de desvanecimiento y escritura */
}

.welcome-text h2 {
  font-size: 15px; /* Tamaño de fuente */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black; /* Efecto de cursor para la sección de bienvenida */
  animation: typingWelcome 12s steps(40) forwards, blinkCursor 1s step-end infinite; /* Animación de escritura con retraso y parpadeo del cursor */
  animation-delay: 12s; /* Añadir retraso para que comience después del subtítulo */
}

.console-text {
  color: green; /* Color verde para la parte root@ahc:-# */
}

.typing-text {
  color: rgb(255, 255, 255); /* Color verde para el texto de la invitación */
}

.blinking-cursor {
  font-weight: bold;
  animation: blinkCursor 1s infinite; /* Animación de parpadeo para el cursor */
}

.welcome-image {
  width: 25%; /* Ajusta el ancho de la imagen */
  max-width: 200px; /* Ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Bordes redondeados */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  margin-left: 20px; /* Espacio entre la imagen y el texto */
}

/* Animaciones */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: white; }
}

@keyframes typingSubtitle {
  from { width: 0; opacity: 1; }
  to { width: 100%; opacity: 1; }
}

@keyframes blinkSubtitle {
  from { border-color: transparent; }
  to { border-color: white; }
}

@keyframes typingWelcome {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

/* Opcional: Diseño responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Coloca los elementos en columna en pantallas pequeñas */
    align-items: flex-start;
    padding: 10px;
    left: 0;
    transform: none;
    width: 100%;
  }
  
  .navbar-links {
    flex-direction: column; /* Coloca los enlaces en columna en pantallas pequeñas */
    gap: 10px; /* Reduce el espacio entre los enlaces */
  }
  
  .navbar-links a {
    font-size: 16px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    padding: 10px 0; /* Aumenta el padding vertical */
  }

  .main-content {
    padding: 0 10px; /* Reducir el padding lateral en pantallas pequeñas */
  }

  .container {
    padding: 10px; /* Ajuste de padding en pantallas pequeñas */
  }

  .intro-section {
    flex-direction: column; /* Coloca los elementos en columna en pantallas pequeñas */
    align-items: center;
    text-align: center;
  }

  .profile-picture {
    width: 50%; /* Imagen ocupa la mitad del contenedor en pantallas pequeñas */
    margin-right: 0;
    margin-bottom: 20px;
  }

  .intro-text {
    width: 100%; /* Texto ocupa el ancho completo en pantallas pequeñas */
    text-align: center;
  }

  .welcome-section {
    flex-direction: column; /* Coloca los elementos en columna en pantallas pequeñas */
    align-items: center;
    text-align: center;
  }

  .welcome-text {
    width: 100%; /* Texto ocupa el ancho completo en pantallas pequeñas */
  }

  .welcome-image {
    width: 50%; /* Imagen ocupa la mitad del contenedor en pantallas pequeñas */
    margin-top: 20px;
  }
}
